$primary-text: #323854;
$secondary-text: #79747f;
$primary-color: #8d7fc7;
$secondary-color: #eeeeff;
$background-color: #fdfdff;
$border-color: #ececec;
$button-color: #decfff;
$button-hover-color: #434190;
$link-color: #008aff;
$error-color: #e53e3e;
$success-color: #48bb78;
